<div class = "row">
    <h2> Employee List</h2>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name </th>
            <th> Email Id</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees" ><!--Display all the Employees using ngFor-->
            <td> {{ employee.firstName }} </td>
            <td> {{ employee.lastName }} </td>
            <td> {{ employee.emailId }} </td>
            <td>
                <!--Calling the method to update employees-->
                <button (click) = "updateEmployee(employee.id)"  class = "btn btn-primary"> Update</button>
                <!--Calling the method to delete employees-->
                <button (click) = "deleteEmployee(employee.id)"  class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <!--Calling the method to list personal information-->
                <button (click) = "employeeDetails(employee.id)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>